---
import { ViewTransitions, fade } from 'astro:transitions'
import Footer from '@components/Footer.astro'
import Grain from '@components/grain/Grain.astro'
import ArrowLink from '@components/ArrowLink.vue'
import Link from '@components/Link.vue'

type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
const { pathname } = Astro.url

type Location = "home" | "posts" | "post"
const location: Location = pathname === '/posts' || pathname === '/posts/' ? 'posts' : pathname.startsWith('/posts/') ? 'post' : 'home'
let post = pathname.split('/posts/')[1]
if (post) post = post.replace(/\/$/, '');
---

<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({ duration: '0s' })} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ved Kothavade" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- link tags -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/fonts/Switzer.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Hack.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>

  <body class="flex flex-col min-h-screen mx-auto max-w-container px-4">
    <div class="flex-grow">
      <header
        class="h-37.5px flex items-center justify-between -mt-2"
      >
        <slot name="header-content">
          <div class="flex items-center">
          <ArrowLink href="/" back={location !== 'home'}>home</ArrowLink>
          {location === 'posts' && <span class="ml-1">/ posts</span>}
          {location === 'post' && ( 
            <div>
              <span class="ml-1">/</span>
              <Link href="/posts">posts</Link>
              <span class="ml-.5">/ {post}</span>
            </div>
          )}
          </div>
        </slot>
      </header>

      <slot />

      <Grain opacity={0.3} />
    </div>
    <Footer class="mt-auto" transition:persist />
  </body>
</html>

<script>
// for performance metrics
import { loglib } from "@loglib/tracker"
loglib.record({
  id: "kothavade",
  autoTrack: true,
})
</script>

<style is:global>
  @font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer.woff2") format("woff2");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Switzer Fallback";
    src: local("BlinkMacSystemFont"), local("Segoe UI"),
      local("Helvetica Neue"), local("Arial"), local("sans-serif");
    font-weight: 300 900;
    font-style: normal;
    ascent-override: 96.67%;
    descent-override: 24.66%;
    line-gap-override: 8.88%;
    size-adjust: 101.38%;
  }

  @font-face {
    font-family: "Hack";
    src: url("/fonts/Hack.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  body,
  html {
    @apply overflow-x-hidden;
  }

  html {
    @apply antialiased touch-manipulation scroll-smooth text-base;
    text-rendering: optimizeLegibility;

    &.dark {
      color-scheme: dark;
    }
  }

  * {
    @apply outline-white selection-(bg-neutral-700 text-white);
  }

  body {
    font-family: "Switzer", "Switzer Fallback";
    @apply text-neutral-300 bg-neutral-900 px-0 md:px-4 py-4 md:py-8 relative min-h-screen text-sm md:text-base;
  }

  code,
  pre {
    font-family: "Hack", "Courier New", Courier, monospace;
  }

  .prose {
    @apply max-w-container [&>:not(:last-child)]:mb-6;

    & p,
    & ol,
    & ul {
      @apply my-6 line-height-7.2;
    }

    & h1,
    & h2,
    & h3 {
      @apply text-neutral-100 font-semibold my-8;
    }

    & h1 {
      @apply text-2xl;
    }

    & h2 {
      @apply text-xl;
    }

    & h3 {
      @apply text-lg;
    }

    & strong {
      @apply font-medium text-neutral-100;
    }

    & hr {
      @apply border-neutral-800 border-b-0.1;
    }

    & ul {
      @apply list-disc list-outside pl-4;
    }

    & ul > li {
      @apply mb-2;
    }

    & img {
      @apply mx-auto rounded my-6;
    }
  }
  @keyframes slide-enter {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 100;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    html:not(.no-sliding) [slide-enter],
    html:not(.no-sliding) .slide-enter,
    html:not(.no-sliding)
      .slide-enter-content
      > *:not(:has(.table-of-contents)) {
      --enter-stage: 0;
      --enter-step: 90ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(
        var(--enter-initial) + var(--enter-stage) * var(--enter-step)
      );
    }

    .slide-enter-content > *:nth-child(1) {
      --enter-stage: 1 !important;
    }
    .slide-enter-content > *:nth-child(2) {
      --enter-stage: 2 !important;
    }
    .slide-enter-content > *:nth-child(3) {
      --enter-stage: 3 !important;
    }
    .slide-enter-content > *:nth-child(4) {
      --enter-stage: 4 !important;
    }
    .slide-enter-content > *:nth-child(5) {
      --enter-stage: 5 !important;
    }
    .slide-enter-content > *:nth-child(6) {
      --enter-stage: 6 !important;
    }
    .slide-enter-content > *:nth-child(7) {
      --enter-stage: 7 !important;
    }
    .slide-enter-content > *:nth-child(8) {
      --enter-stage: 8 !important;
    }
    .slide-enter-content > *:nth-child(9) {
      --enter-stage: 9 !important;
    }
    .slide-enter-content > *:nth-child(10) {
      --enter-stage: 10 !important;
    }
    .slide-enter-content > *:nth-child(11) {
      --enter-stage: 11 !important;
    }
    .slide-enter-content > *:nth-child(12) {
      --enter-stage: 12 !important;
    }
    .slide-enter-content > *:nth-child(13) {
      --enter-stage: 13 !important;
    }
    .slide-enter-content > *:nth-child(14) {
      --enter-stage: 14 !important;
    }
    .slide-enter-content > *:nth-child(15) {
      --enter-stage: 15 !important;
    }
    .slide-enter-content > *:nth-child(16) {
      --enter-stage: 16 !important;
    }
    .slide-enter-content > *:nth-child(17) {
      --enter-stage: 17 !important;
    }
    .slide-enter-content > *:nth-child(18) {
      --enter-stage: 18 !important;
    }
    .slide-enter-content > *:nth-child(19) {
      --enter-stage: 19 !important;
    }
    .slide-enter-content > *:nth-child(20) {
      --enter-stage: 20 !important;
    }
  }
</style>
